.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: var(--accent-color);
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--card-text-font-weight);
  min-inline-size: 375px;
  min-block-size: 100dvb;
}

.content {
  width: var(--content-width);
  margin: auto;
  min-inline-size: 375px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  border: 2px solid var(--accent-color);
  padding-block: clamp(120px, calc(5% + 100px), 135px) 20px;
  background-color: var(--background-color);
  min-inline-size: 375px;
}

.header__logo {
  justify-content: center;
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-weight: var(--card-text-font-weight);
  font-size: clamp(3.063rem, 1.921rem + 4.923vw, 4.063rem);
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.header__title {
  margin-top: 25px;
  font-family: var(--accent-font-family);
  font-size: clamp(0.875rem, 0.233rem + 2.769vw, 1.438rem);
  line-height: 23px;
  text-transform: uppercase;
  white-space: nowrap;
}

.theme-menu__list {
  position: relative;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 21px;
}

.theme-menu__item {
  position: relative;
}

button.theme-menu__button {
  padding: 0;
}

.theme-menu__button {
  border: none;
  outline: none;
  font-family: var(--accent-font-family);
  font-weight: var(--card-text-font-weight);
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scaleX(1);
}

.theme-menu__button::before {
  content: "";
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 1px;
  left: -18px;
  color: var(--accent-color);
  animation: arrow-shaking 0.5s alternate infinite ease-in-out;
}

/* Работаем с карточками */

.cards_wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content_card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card_title {
  padding: 6px 10px;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-variation-settings: "wght" var(--card-title-font-weight);
}

.card_picture_wrapper {
  position: relative;
  margin-bottom: 25px;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  font-family: var(--accent-font-family);
  font-weight: var(--card-text-font-weight);
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 0 0 0 2px var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--label-stroke-color)) or
    (-webkit-text-stroke: 1px var(--label-stroke-color))
) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
}

.card_picture {
  display: block;
  object-fit: cover;
  object-position: center;
  max-inline-size: 700px;
  inline-size: 100%;
  aspect-ratio: 16 / 9;
}

.card_description_wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_description {
  padding: 0px 25px;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  font-variation-settings: "wght" var(--card-text-font-weight);
}

.card_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 25px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease;
  max-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  outline: none;
}

.like-icon {
  max-width: 39px;
  max-height: 36px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 9px 0;
}

.content__animated__button {
  position: relative;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font-family);
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  white-space: nowrap;
}

.content__animated__button:focus {
  outline: none;
}

.content__animated__button:hover {
  cursor: pointer;
}

.content__animated__button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

/* выезжающий псевдоэлемент */

.content__animated__button::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--button-text-blend-mode-color);
  transition: scale 0.5s ease-in-out;
  transform-origin: 0;
  mix-blend-mode: difference;
  scale: 0 1;
}

.content__animated__button:hover::after {
  scale: 1 1;
}

.saving_button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin: 50px auto 105px;
  padding: 0;
}

.saving_button-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  padding: 13px 19px 18px 19px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-weight: var(--card-text-font-weight);
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
}

.button_floppy {
  z-index: 1;
  display: block;
  flex-shrink: 0;
  min-width: 21px;
  max-width: 21px;
  fill: var(--accent-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.saving_button-popup[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 341px;
  max-width: 357px;
  border: 2px solid var(--accent-color);
  padding: 30px 30px;
  color: var(--accent-color);
  background-color: var(--background-color);
}

.popup-button-form {
  display: flex;
  justify-content: center;
}

.saving_button-popup[open] .button_floppy {
  min-width: 39px;
  max-width: 39px;
}

.popup-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.popup-text {
  line-height: 150%;
  text-transform: uppercase;
}

.popup-submit-button {
  min-width: 257px;
  border: 2px solid var(--accent-color);
  padding: 10px 17px;
  text-transform: uppercase;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  inline-size: 100%;
}

/* стилизуем фильтры */

.modify-contrast-brightness-filter {
  filter: contrast(190%) brightness(93%);
}

.modify-saturation-filter {
  filter: saturate(30%);
}

.modify-grascale-filter {
  filter: grayscale(50%);
}

.modify-sepia-filter {
  filter: sepia(60%);
}

.modify-opacity-filter {
  filter: opacity(95%);
}

.modify-invert-filter {
  filter: invert(15%);
}

.modify-hue-rotate-filter {
  filter: hue-rotate(33deg);
}

.modify-blur-filter {
  filter: blur(5px);
}

@media (width < 376px) {
  .header__title {
    margin-top: 16px;
  }

  .label {
    top: 20px;
    right: 11px;
  }

  .saving_button-content-wrapper {
    flex-direction: column;
  }

  .button_floppy {
    min-width: 28px;
    max-width: 28px;
  }

  .saving_button-popup[open] {
    padding: 30px 42px;
  }
}
