/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --background-color: #fff;
  --card-text-font-weight: 400;
  --card-title-font-weight: 700;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --accent-color: #000;
  --button-text-blend-mode-color: #fff;
  --label-stroke-color: rgba(255, 255, 255, 0.6);
  --heart-contour-color: #000;
}

:root.theme-dark {
  --accent-color: #00cc14;
  --background-color: #000;
  --card-text-font-weight: 465;
  --card-title-font-weight: 785;
  --background-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(#007f0c 0.01%, #004306);
  --label-stroke-color: rgba(0, 0, 0, 0.6);
  --button-text-blend-mode-color: #00cc14;
  --heart-contour-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #00cc14;
    --background-color: #000;
    --background-image: linear-gradient(180deg, #007f0c 0%, #004306 100%);
    --card-text-font-weight: 465;
    --card-title-font-weight: 785;
    --background-image: repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(#007f0c 0.01%, #004306);
    --label-stroke-color: rgba(0, 0, 0, 0.6);
    --button-text-blend-mode-color: #00cc14;
    --heart-contour-color: #00cc14;
  }
}
